.badge {
  border-radius: 20px;
  padding: 6px 10px;
  background-color: map-get($color, secondary );
  color: map-get($color, blackk );
  font-weight: map-get($font-weight, font-bold );
  font-size:map-get($font-size, font-xs );
  line-height: 18px;
}
@media all and (max-width:768px){
  .badge {
    padding: 2px 2px;
    font-weight: map-get($font-weight, font-bold );
    font-size:8px;
    line-height: 12px;
    color: map-get($color, whitee );
  }
}