.text-secondary{
  font-weight: map-get($font-weight, font-normal );
  font-size:map-get($font-weight, font-md );
  line-height: 21px;
}
@media all and (max-width:768px){
  .text-secondary{
  font-weight: 400;
      font-size:10px;
      line-height: 15px
  };
}