$color : (
  primary: #FBB03B,
  secondary:#FF0000,
  info:#F7F7F7,
  success:#FFF3DF,
  promotion:#A8A8A8,
  light:#cecece,
  dark:#808080,
  blackk:#333333,
  whitee:#FFFFFF,
);

$font-family:"Poppins", sans-serif;

$font-size : (
  font-xs:12px,
  font-sm:13px,
  font-md:14px,
  font-lg:16px,
  font-xl:19px,
  font-xxl:20px,
  font-3xl:24px,
  font-4xl:32px,
  font-5xl:72px
);

$font-weight : (
  font-normal:300,
  font-light:400,
  font-bold:700
)

