h1, h2, h3, h4, h5, h6 {
  font-weight: map-get($font-weight,normal);
}
// h1{
//   @include pxRem(font-size,map-get($font-size,xxl))
// }
// h2{
//   @include pxRem(font-size,map-get($font-size,xxl))
// }
// h3{
//   @include pxRem(font-size,map-get($font-size,xxl))
// }
// h4{
//   @include pxRem(font-size,map-get($font-size,xxl))
// }
// h5{
//   @include pxRem(font-size,map-get($font-size,xxl))
// }
// h6{
//   @include pxRem(font-size,map-get($font-size,xxl))
// }
h1, h2, h3, h4, h5, h6 p {
  margin: -0.25em 0;
}
.section-title {
  font-weight: map-get($font-weight, normal );
  font-size:  map-get($font-size, 4xl );
  line-height: 48px;
  color:map-get($color, danger );
}
.logo-title {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}
.text-secondary {
  font-weight: map-get($font-weight, normal );
  font-size:map-get($font-size, md );
  line-height: 21px;
}
.icon-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
@include reponsive_mobile {
  .section-title {
    font-weight: map-get($font-weight, normal );
    font-size:  18px;
    line-height: 27px;
  }
  .logo-title {
    font-size: 18px;
    font-weight: map-get($font-weight, bold );
    align-items: center;
    gap: 20px;
    transition: 0.5s;
  }
  .text-secondary {
        font-weight:400;
        font-size:12px;
        line-height: 18px
  };
  .icon-primary {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
