header {
  position: absolute;
  width: 100%;
  left: 0;
  top:0;
  z-index: 3;
  .header {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    .hover-logo:hover{
      transform: scale(1.2);
    }
  }
  .menu-list {
    display: flex;
    gap: 100px;
    .menu-item a{
      font-weight: map-get($font-weight,font-bold);
      font-size: map-get($font-size,font-xl );
      color: map-get($color,primary );
      line-height: 27px;
    } 
  }
  .header-list-icon {
    gap: 24px;
  }
  .menu_home{
    display: none;
  }
}
@media all and (max-width:768px){
  header {
   height: 75px;
    .header {
      display: flex;
      padding-top: 20px;
      justify-content: space-between;
      align-items: center;
      .hover-logo:hover{
        transform: scale(1.2);
      }
      .menu-list {
       display: none;
        .menu-item a{
          font-weight: map-get($font-weight,font-bold);
          font-size: map-get($font-size,font-xl );
          color: map-get($color,primary );
          line-height: 27px;
        } 
      }
      .header-list-icon {
        gap: 24px;
      }
      .header-item-icon:nth-child(3){
        display: none;
      }
      .menu_home{
        display: flex;
      }
    }
  }
}



