header {
  position: absolute;
  width: 100%;
  left: 0;
  top:0;
  z-index: 3;
  .header {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    .hover-logo:hover{
      transform: scale(1.2);
    }
    .mobile{
      display: none;
    }
  }
  .menu-list {
    display: flex;
    gap: 100px;
    .menu-text {
      font-weight: map-get($font-weight,bold);
      font-size: map-get($font-size,xl );
      color: map-get($color,primary );
      line-height: 27px;
    } 
  }
  .header-list-icon {
    gap: 24px;
    .cart-count{
    position: absolute;
    top: 50px;
    right: 225px;
      padding:0 5px;
      border-radius: 50%;
      background-color: map-get($color,secondary );
      color: map-get($color,danger);
    }
  }

}
.moblie {
    display: none;
  }
@include reponsive_mobile {
  header {
   padding: 0;
   background-color: map-get($color, warning);
    .header {
      padding: 26px 0;
      .hover-logo:hover {
        transform: scale(1.2);
      }
      .menu-list {
       display: none;
      }
      .header-list-icon {
        gap: 24px;
      }
      .mobile {
        display: block;
      }
      .pc {
        display: none;
      }
    }
  }
}




